body{
    color:rgb(189, 189, 189);
    background-color: #1565C0;
}
h3{
    text-align: center;
}
.header{
    background-color: #01579B;
}
.Current_ventures{
    background-color: #0277BD;
}